/**************************************
BASIC LAYOUT
***************************************/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  background-color: #f3f7ff;
  color: #4a4a4a;
  margin: 0 auto;
  max-width: 1280px;
}

header {
  width: 90%;
  margin: 0 auto;
}

main {
  background-color: #fff;
  /*padding: 20px 5%;
  margin: 30px 0;*/
}

.wrapper-bottom {
  width: 90%;
  margin: 0 auto;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #4a4a4a;
}

hr {
  margin: 20px 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/**************************************
HEADER
***************************************/

.header-title {
  font-family: 'Lobster', cursive;
  font-size: 2.5em;
  text-align: center;
  padding: 10px;
}

.main-nav {
  list-style: none;
  margin: 0 0 50px;
  padding: 0;
}

.main-nav a {
  font-size: 1.1em;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  padding: 15px;
  margin: 10px 0;
  display: block;
}

.main-nav a:hover {
  color: #fff;
  background-color: #4a4a4a;
  transition: .5s;
}

.profile {
  width: 90%;
  margin: 0 auto 50px;
  text-align: center;
}

.profile-image {
  width: 70%;
  margin: 10px;
}

.profile p {
  color: #7f7f7f;
}

/**************************************
MAIN
***************************************/

h2 {
  display: block;
  font-size: 1.2em;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  margin: 30px 0;
  width: 100%;
}

#portfolio {
  width: 95%;
  margin: 0 auto;
  padding: 30px 0;
}

.portfolio-card {
  text-align: center;
  margin: 50px 0;
  padding: 10px;
}

.portfolio-card:hover {
  color: #fafafa;
  background-color: #3f519e;
  transition: .3s;
}

.portfolio-image{
  width: 100%;
  margin: 10px 0;
}

#skills {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.skills-list {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -ms-flex-pack: justify;
}

.skills-list:hover {
  color: #fafafa;
  background-color: #3f519e;
  transition: .3s;
}

.skills-image {
  flex: 1;
  -ms-flex: 1;
  max-width: 15%;
}

.skills-description {
  flex: 3;
  -ms-flex: 3;
  padding-left: 20px;
}

/**************************************
FOOTER
***************************************/

#contact {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

#contact p {
  font-size: .9em;
  color: #7f7f7f;
  padding: 5px 0;
}

#contact a:hover {
  color: #7f7f7f;
}

.phone,
.email {
  font-size: 1.1em;
  padding: 0 10px;
}

.main-footer {
  margin: 20px 0;
  padding: 0;
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -ms-flex-pack: justify;
}

.footer-nav {
  display: none;
}

.copyright,
.backToTop {
  font-size: .8em;
  font-weight: 700;
}

.backToTop a {
  padding: 10px 0 10px 10px;
}

.backToTop a:hover {
  color: #7f7f7f;
  transition: .2s;
}

/**************************************
MEDIA QUERIES
***************************************/

@media (min-width: 768px) {

  /**************************************
  HEADER
  ***************************************/

  .main-nav {
    display: flex;
    display: -ms-flexbox;
  }

  .main-nav li {
    flex: 1;
    -ms-flex: 1;
  }

  .main-nav a {
    font-size: 1em;
    background-color: #f3f7ff;
    border-bottom: 1px solid #4a4a4a;
  }

  .profile-image {
    float: right;
    width: 40%;
  }

  .profile p {
    text-align: left;
  }

  /**************************************
  MAIN
  ***************************************/

  #portfolio,
  #skills {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  }

  .portfolio-card,
  .skills-list {
    width: 50%;
    margin: 20px 0;
  }

  .skills-image {
    -ms-flex: 1;
  }
  .skills-description {
    -ms-flex: 3;
  }

  /**************************************
  FOOTER
  ***************************************/

  #contact {
    width: 80%;
  }

  .backToTop {
    display: none;
  }

  .footer-nav {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f3f7ff;
  }

  .footer-nav a {
    font-size: .7em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
  }

  .footer-nav a:hover {
    color: #fff;
    background-color: #4a4a4a;
    transition: .2s;
  }

}

@media (min-width: 1024px) {

  /**************************************
  HEADER
  ***************************************/

  .main-header {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
    -ms-flex-pack: justify;
    align-items: center;
    padding: 10px 0 20px;
  }

  .header-title {
    flex: 3;
    -ms-flex: 2;
    text-align: left;
  }

  nav {
    flex: 2;
    -ms-flex: 3;
  }

  .header-title,
  .main-nav,
  .main-nav a {
    margin: 0;
  }

  .main-nav a {
    font-size: 1em;
  }

  .profile {
    width: 100%;
  }

  /**************************************
  MAIN
  ***************************************/

  .portfolio-card,
  .skills-list {
    width: calc(99%/3);
    margin: 20px 0;
  }

  .skills-description {
    -ms-flex: 2;
  }

  /**************************************
  FOOTER
  ***************************************/

  #contact {
    width: 65%;
  }

}
