/**************************************
BASIC LAYOUT
***************************************/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #fafafa;
  color: #4a4a4a;
}

.wrapper {
  max-width: 95%;
  margin: 0 auto;
}

hr {
  margin: 20px 0;
}

/**************************************
HEADER & NAVIGATION
***************************************/

.main-header {
  font-weight: 900;
  text-align: center;
  padding: 10px;
}

.main-nav {
  list-style: none;
  margin: 0 0 50px;
  padding: 0;
}

.main-nav a {
  font-size: 1.1em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #4a4a4a;
  background-color: #fff;
  padding: 10px;
  margin: 10px 0;
  text-decoration: none;
  display: block;
}

.main-nav a:hover {
  color: #fff;
  background-color: #4a4a4a;
  transition: .5s;
}

/**************************************
FOOTER
***************************************/

.main-footer {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.copyright,
.backToTop {
  font-size: .8em;
  font-weight: 700;
}

.backToTop a {
  text-decoration: none;
  color: #4a4a4a;
  padding: 10px 0 10px 10px;
}

.backToTop a:hover {
  color: #7f7f7f;
  transition: .2s;
}
