/**************************************
BASIC LAYOUT
***************************************/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  background-color: #fafafa;
  color: #4a4a4a;
  margin: 0;
}

header {
  width: 90%;
  margin: 0 auto;
}

main {
  background-color: #fff;
  padding: 20px 5%;
  margin: 30px 0;
}

.wrapper-bottom {
  width: 90%;
  margin: 0 auto;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #4a4a4a;
}

hr {
  margin: 20px 0;
}

/**************************************
HEADER
***************************************/

.main-header {
  font-weight: 900;
  text-align: center;
  padding: 10px;
}

.main-nav {
  list-style: none;
  margin: 0 0 50px;
  padding: 0;
}

.main-nav a {
  font-size: 1.1em;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  padding: 15px;
  margin: 10px 0;
  display: block;
}

.main-nav a:hover {
  color: #fff;
  background-color: #4a4a4a;
  transition: .5s;
}

.profile {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.profile-image {
  width: 70%;
  margin: 10px;
}

.profile p {
  color: #7f7f7f;
}

/**************************************
MAIN
***************************************/

h2 {
  font-size: 1.2em;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}

.portfolio-card {
  text-align: center;
  margin: 50px 0;
  padding: 10px;
}

.portfolio-card:hover {
  color: #fafafa;
  background-color: #7f7f7f;
  transition: .3s;
}

.portfolio-image{
  width: 100%;
  margin: 10px 0;
}

.skills-list {
  display: flex;
  justify-content: space-between;
}

.skills-list:hover {
  color: #fafafa;
  background-color: #7f7f7f;
  transition: .3s;
}

.skills-image {
  flex: 1;
  width: 20%;
}

.skills-description {
  flex: 5;
  padding-left: 20px;
}

/**************************************
FOOTER
***************************************/

#contact {
  text-align: center;
  padding: 10px;
}

#contact p {
  font-size: .9em;
  color: #7f7f7f;
  padding: 5px 0;
}

#contact a:hover {
  color: #7f7f7f;
}

.phone,
.email {
  font-size: 1.1em;
  padding: 0 10px;
}

.main-footer {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.copyright,
.backToTop {
  font-size: .8em;
  font-weight: 700;
}

.backToTop a {
  padding: 10px 0 10px 10px;
}

.backToTop a:hover {
  color: #7f7f7f;
  transition: .2s;
}
